#version=RHEL8
reboot
graphical

url  --url="https://mirror.almalinux.ikoula.com/8/BaseOS/x86_64/os/"
repo --name="AppStream" --baseurl=https://mirror.almalinux.ikoula.com/8/AppStream/x86_64/os/

%packages
@^minimal-environment
wget
-iwl6050-firmware
-iwl6000-firmware
-iwl5000-firmware
-iwl2030-firmware
-iwl135-firmware
-iwl1000-firmware
-iwl7260-firmware
-iwl6000g2a-firmware
-iwl5150-firmware
-iwl3160-firmware
-iwl2000-firmware
-iwl105-firmware
-iwl100-firmware

%end

keyboard --vckeymap=fr-oss --xlayouts='fr (oss)'
lang fr_FR.UTF-8
network  --hostname=alma8 --bootproto=dhcp --noipv6 --activate
selinux --enforcing
firstboot --disable
skipx
services --enabled="sshd"
timezone Europe/Paris --utc

ignoredisk --only-use=vda
clearpart --all --initlabel --drives=vda
part /        --fstype="xfs"  --ondisk=vda --size=10240 --grow
part /var/log --fstype="xfs"  --ondisk=vda --size=5120 --fsoptions="nosuid,nodev,noexec"
part /tmp     --fstype="xfs"  --ondisk=vda --size=1024 --fsoptions="nosuid,nodev"
part swap     --fstype="swap" --ondisk=vda --size=1024

rootpw --iscrypted $6$D6tPIQkeKYwXWxMJ$ARTJhNjWdFoQCI04sRMGVzKud1olT7ug2Fc7elnxj0qp6dpzzlIu915pjw5Mvb0KTyzxRAZC.7UiUgUiljPEw0
user --name=vagrant --password=vagrant
sshkey --username=vagrant "ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEA6NF8iallvQVp22WDkTkyrtvp9eWW6A8YVr+kz4TjGYe7gHzIw+niNltGEFHzD8+v1I2YJ6oXevct1YeS0o9HZyN1Q9qgCgzUFtdOKLv6IedplqoPkcmF0aYet2PkEDo3MlTBckFXPITAMzF8dJSIFo9D8HfdOV0IAdx4O7PtixWKn5y2hMNG0zQPyUecp4pzC6kivAIhyfHilFR61RGL+GPXQ2MWZWFYbAGjyiYJnAmCP3NOTd0jMZEnDkbUvxhMmBYSdETk1rRgm+R4LOzFUGaHqHDLKLX+FIPKcF96hrucXzcWyLbIbEgE98OHlnVYCzRdK8jlqm8tehUc9c9WhQ== vagrant insecure public key"

%addon com_redhat_kdump --disable --reserve-mb='auto'
%end

%post --log=/root/post.log --nochroot
echo 'vagrant ALL=(ALL) NOPASSWD: ALL' > /mnt/sysimage/etc/sudoers.d/vagrant
chmod 440 /mnt/sysimage/etc/sudoers.d/vagrant
rm -f /mnt/sysimage/root/*

%end
